<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku solutions</title>
</head>
<body>
    <div style="display: flex; flex-direction: column; width: 128px">
        <textarea name="solution" rows="16">{{solutions}}</textarea>
    </div>
</body>
</html>